.App {
  display: flex;
  margin-left: 1.5%;
}

body{
  /* background-image: linear-gradient(to bottom right, rgb(248, 247, 247),rgb(9, 110, 243)); */
  /* background-color: #6FA3EF; */
  /* background-color: #008080; */
  background-color: #A8D5BA;
  /* background-color: #001F3F; */
}

.project-section{
  width: 30vw;
  padding: 10px;
  /* border: 1px solid #ccc; */
  /* margin: 10px; */
  margin-bottom: 0%;
  margin-top: 10px;
  
}

.task-section{
  width: 60vw;
  padding: 10px 10px 10px 10px;
  /* border: 1px solid #ccc; */
  margin: 10px;
  margin-bottom: 0%;
}



h2{
  font-weight:500;
  margin: 0;
}

.task-section,.project-section {
  background-color: transparent;
  color: rgb(247, 246, 246);
}

form {
  margin-bottom: 5px;
  background-color: wheat;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}


