.dlte-btn button{
    background-color: rgb(214, 27, 27);
    color: rgb(15, 15, 15);
    width: 11%;
    border: 0;
    height: 25px;
    border-radius: 4px;
    color: white;
    
}

li{
    font-weight: 400;
}

.project-search button{
    margin-left: 0;
    margin-bottom: 3%;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.project-search input{
    margin-left: 2%;
    height: 10px;
}

.project-search :hover{
    background-color: white;
    color: black;
  }

.dlte-btn{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.dlte-btn button:hover{
    background-color: rgb(138, 11, 11);
}

.project-list{
    max-width: 450px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    background-color:whitesmoke;
    color: black;
    font-size: 13px;
    margin-top: 2%;
    font-weight: 400;
    border-radius: 10px;
}
